
<table class="table table-hover table-bordered table-striped">
<tr>
  <th class="text-right">案件NO:</th>
  <td><%= @project.no %></td>
</tr>

<tr>
  <th class="text-right">案件タイトル:</th>
  <td><%= @project.title %></td>
</tr>

<tr>
  <th class="text-right">勤務地:</th>
  <td><%= @project.place %></td>
</tr>

<tr>
  <th class="text-right">内容:</th>
  <td><%= @project.content %></td>
</tr>

<tr>
  <th class="text-right">期間:</th>
  <td><%= @project.term %></td>
</tr>

<tr>
  <th class="text-right">報酬:</th>
  <td><%= @project.price %></td>
</tr>

<tr>
  <th class="text-right">言語/環境:</th>
  <td><%= @project.environment %></td>
</tr>

<tr>
  <th class="text-right">職種/人数:</th>
  <td><%= @project.job %></td>
</tr>

<tr>
  <th class="text-right">契約形態:</th>
  <td><%= @project.contract %></td>
</tr>

<tr>
  <th class="text-right">業種:</th>
  <td><%= @project.business %></td>
</tr>

</table>

<%= link_to '編集', edit_project_path(@project), class: "btn btn-primary active" %> 
<%= link_to '戻る', projects_path, class: "btn btn-primary active" %>
